*{

	box-sizing: border-box;
	
}

.navbar-brand {
	color: #F9F9F9;
	font-family: "Arial", serif;
}

#index {

	width: 100%;
	/*background-image: url(../proyectophp/fondo1.jpg);*/
	background-repeat: no-repeat;

}

#cabecera {

	width: 100%;
	height: 120px;	
	background-color: rgba(0, 0, 0, 0.5);
    color:#000;
}

#contenedor {

	
	float: none;
	margin: 0px auto;
	width: 50%;
	height: 20em;
}

#footer {

	margin-top: 10px;
	width: 100%;
	height: 120px;
	background-color: rgba(0, 0, 0, 0.5);
    color:#000;

}

#recargar {

	padding: 10px;
	background-color: #FFFFFF;
}
